# thunar-sendto-shredder 0.01
[Desktop Entry]
Name=File shredder
GenericName=File shredder
Comment=Securely delete files
Comment[en]=Securely delete files
TryExec=thunar-sendto-shredder
Exec=thunar-sendto-shredder
Icon=thunar-sendto-shredder
Type=Application
Terminal=false
Keywords=delete;privacy;security
OnlyShowIn=XFCE;
